<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="catBean" class="com.powrnode.spring6.bean.Cat">
        <!--        1.不给属性注入,属性的默认值就是null-->

        <!--        2.这不是注入null,这只是注入一个"null"字符串-->
<!--                <property name="name" value="null"></property>-->
        <!--        3.第二种方法:手动注入null-->
<!--                <property name="name">-->
<!--                   <null/>-->
<!--                </property>-->

        <!--        4.注入空字符串-->
<!--                <property name="name" value=""/>-->
        <!--        5.第二种方式-->
        <property name="name">
            <value/>
        </property>


        <property name="age" value="3"></property>
    </bean>
</beans>